body {
  font-family: 'Helvetica Neue', sans-serif;
  width: 100%;
  display: block;
  box-sizing: border-box;
  background: #eee;
}

canvas {
  border-radius: 3px;
  border: 1px solid #333;
  margin: 0 auto;
  display: block;
  background: #012345;
}

.header {
  margin: 0 auto;
  display: block;
}

.header h2 {
  margin: 14px auto;
  text-align: center;
  color: #333;
}

footer {
  width: 700px;
  margin: 0 auto;
}

footer:after {
  content: "";
  clear: both;
  display: block;
}

footer img {
  float: right;
  margin: 7px 0 7px 7px;
  width: 25px;
  height: 25px;
  background-color: #eee;
  border-radius: 5px;
  filter: grayscale(1);
  transition: filter 200ms linear;
}

footer img:hover {
  filter: grayscale(0);
}
